
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased text-slate-900 bg-slate-50;
  }
}

/* Custom Utilities used in Layout */
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  /* Optional: Fade mask for quota list scrolling */
  .mask-fade {
    mask-image: linear-gradient(to right, black 85%, transparent 100%);
  }
}